@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  z-index: 1;
  width: 90%;
  height: auto;
  margin: 0 auto;
  border-radius: 2vw;
  background: #fff3b5;
  padding: 2% 2% 6% 2%;
  box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.75);
}
p {
  display: inline-block;
}

input {
  width: 20%;
  font-size: 70%;
}
.container h2 {
  margin: 0 0 2%;
  text-align: center;
  font-size: 2.5vw;
}
#flag {
  width: 8%;
  margin-left: 2%;
}

.board {
  display: flex;
  flex-direction: row;
}

.card {
  width: 84%;
  background: rgb(153, 197, 248);
  padding: 3% 8% 12% 3%;
  border-radius: 4vw;
  color: #fff;
  margin: 5% 2% 0 0;
  display: flex;
  flex-direction: row;
}
.card.Total {
  background: #ffd000;
  margin-left: 2%;
}
.card.Deaths {
  background: #9b0808;
}
.card.Recovered {
  background: #079c0c;
}
.fa {
  margin-right: 10%;
}
.card h5 {
  margin: 0;
  font-size: 2.1vw;
  font-weight:90;
}
.card h6 {
  font-size: 4vw;
  font-weight: 700;
  position: absolute;
  float: left;
  top: 50%;
}
.card i {
  font-size: 5rem;
  margin-top: 1%;
}
.container span{
  color: rgb(32, 0, 216);
}
@media screen and (max-width: 768px) {
  .container {
    width: 65%;
    padding: 0 8% 8% 8%;
  }
  .container h2 {
    margin: 15% 0 5% 0%;
    font-size: 4.5vw;
  }
  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 84%;
    height: 12vw;
    margin-bottom: 6%;
  }
  .card.Total {
    margin-left: 0%;
  }
  .card h5 {
    margin: 0;
    font-size: 3.5vw;
  }
  .card i {
    font-size: 3rem;
  }
  input {
    width: 40%;
    font-size: 70%;
  }
  .fa {
    margin-right: 5%;
    margin-left: 2%;
  }
  .card h6 {
    font-size: 4vh;
    font-weight: 700;
    position: absolute;
    float: none;
    top: auto;  
    margin-top: 8%;
    margin-left: 2%;
  }
}
@media screen and (max-width: 500px) {
  .card i {
    font-size: 2rem;
    margin-top: 0%;
  }
  .container{
    margin-top: -50%;
  }
  .card h6 {
    font-size: 2vw;
    margin-top: 8%;
  }

}
@media screen and (width: 1024px) {
  .container{
    margin-top: -8%;
  }
  .card h6 {
    top: 45%;
}
}

@media screen and (max-width: 280px) {
  .card i {
    font-size: 1rem;
  }
  .card h6 {
    margin-top: 8%;
}
}
